#resume {
  margin-top: 25px !important;
  height: 425px;
}

.download-button {
  background-color: #494D52 !important;
  margin-top: 30px !important;
  min-width: 200px !important;
  margin-left: 65px !important;
  border-radius: 10px !important;
  float: left !important;
}

.download-button:hover {
  background-color: #2E3639 !important;
}