.resumeScreenshot {
    height: 400px;
    transition: transform 0.25s ease;
  cursor: zoom-in;
}

.resumeScreenshot:active {
    -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out; 
}

.downloadButton {
    background-color: #494D52 !important;
    border-color: #494D52 !important;
    margin-top: 30px;
    min-width: 200px;
    margin-left: 65px;
    border-radius: 10px;
}

.downloadButton:hover {
    background-color: #2E3639 !important;
}